aws_secret_key      = "CHANGE_ME"
aws_access_key      = "CHANGE_ME"
aws_region          = "eu-west-1"
aws_type_node       = "t2.micro"
aws_type_glusterfs  = "t2.micro"
aws_type_manager    = "t2.micro"
aws_ami_user        = "ubuntu"
aws_ssh_key         = "~/.ssh/id_rsa"
aws_key_name        = "Home"
swarm_nodes         = 1
swarm_glusterfs     = 4
aws_ami             = "ami-80c2f6e6"