aws_secret_key    = "CHANGE_ME"
aws_access_key    = "CHANGE_ME"
aws_region        = "eu-west-1"
aws_type_node     = "t2.micro"
aws_key_name      = "Home"
aws_ami           = "ami-405f7226"
aws_ami_user      = "root"
aws_ssh_key       = "~/.ssh/id_rsa"
swarm_nodes       = 2

